.wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: auto;
}
.interacticon {
  font-size: 2.5rem;
  box-sizing: border-box;
}
.button-click {
  margin: 8px;
  width: 50px;
  height: 50px;
  border: none;
  border-radius: 50%;
  cursor: pointer;
}
